.container {
  display: flex;
  width: 100%;

  padding: 1rem;
  border-radius: 0.4rem;
}

.header {
  text-align: center;
  margin-top: 5px;
  color: #333;
}

.timeframe {
  margin-bottom: 25px;
  padding: 1%;
  width: 60%;
  transform: translateX(33%);
}

.boxes {
  margin-left: 45px;
  margin-top: 10px;
}
