.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.clicks {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}
.impressions {
  border-bottom: 10px solid rgba(248, 83, 94, 0.5);
}
.conversions {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}
