.container {
  margin: 50px 0;
  width: 100%;
}

.card {
  margin: 0 2% !important;
}

.clicks {
  border-bottom: 10px solid #2bbec0;
  align-items: center;
  text-align: center;
}
.impressions {
  border-bottom: 10px solid #2500f5;
  align-items: center;
  text-align: center;
}
.conversions {
  border-bottom: 10px solid #4af008;
  align-items: center;
  text-align: center;
}

.cost {
  border-bottom: 10px solid #f78c2a;
  align-items: center;
  text-align: center;
}
