.container {
  margin: 50px 0;
  width: 100%;
}

.card {
  margin: 0 2% !important;
}

.clicks {
  border-bottom: 10px solid #2bbec0;
  align-items: center;
  text-align: center;
}
.impressions {
  border-bottom: 10px solid #2500f5;
  align-items: center;
  text-align: center;
}
.conversions {
  border-bottom: 10px solid #4af008;
  align-items: center;
  text-align: center;
}

.cost {
  border-bottom: 10px solid #f78c2a;
  align-items: center;
  text-align: center;
}

/* Responsiveness */
@media (max-width: 800px) {
  .container {
  }
}

@media (max-width: 500px) {
  .clientLogo {
    width: 75px;
    margin-left: 30px;
  }

  .arrow {
    height: 35px;
    margin-right: 30px;
  }
}
