.headerContainer {
  display: flex;
  width: 45%;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
  font-size: 20px;
  margin-left: 40px;
}

.arrow {
  height: 50px;
  cursor: pointer;
}

.clientLogo {
  width: 100px;
}

/* Responsiveness */
@media (max-width: 800px) {
  .clientLogo {
    width: 75px;
    margin-left: 40px;
  }
  .arrow {
    height: 45px;
    margin-right: 50px;
  }

  .clientName {
    font-size: 23px;
  }
}

@media (max-width: 500px) {
  .headerContainer {
    margin-left: 10px;
    margin-bottom: 15px;
  }
  .clientLogo {
    width: 65px;
    margin-left: 15px;
  }

  .arrow {
    height: 35px;
    margin-right: 25px;
  }
}
